---
- name: Create directory for ansible custom facts
  become: true
  ansible.builtin.file:
    state: directory
    recurse: true
    path: /etc/ansible/facts.d

- name: Create facts file from template
  become: true
  ansible.builtin.template:
    src: rclone.fact.j2
    dest: /etc/ansible/facts.d/rclone.fact
    mode: '0755'
  register: rclone__register_facts

- name: Re-read facts after adding custom fact
  become: true
  ansible.builtin.setup:
    filter: ansible_local

- block:
    - name: Check latest stable rclone version number
      ansible.builtin.uri:
        url: https://downloads.rclone.org/version.txt
        return_content: true
      register:
        rclone_latest_version
      check_mode: false
    - name: Set variable to latest stable version number
      ansible.builtin.set_fact:
        rclone_version: "{{ rclone_latest_version.content | replace ('rclone v', '', 1) | trim }}"
  when:
    - rclone_version | length == 0 or rclone_version == "0.0.0"
    - rclone_release == 'stable'

- block:
    - name: Check latest beta rclone version number
      ansible.builtin.uri:
        url: https://beta.rclone.org/version.txt
        return_content: true
      register:
        rclone_latest_beta_version
    - name: Set variable for beta version
      ansible.builtin.set_fact:
        rclone_version: "{{ rclone_latest_beta_version.content | replace ('rclone v', '', 1) | trim }}"
        beta_version_url: https://beta.rclone.org/rclone-beta-latest-{{ rclone_dist  }}-{{ rclone_arch }}.zip
  when:
    - rclone_version | length == 0 or rclone_version == "0.0.0"
    - rclone_release == 'beta'
